
@using ToDo.Data

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div id="chartContainer" style="width: 60%; height: 300px;display: inline-block;"></div>
    <br /><br />
    <div id="chartContainer2" style="width: 60%; height: 300px;display: inline-block;"></div>
    <br /><br />
    <div id="chartContainer3" style="width: 60%; height: 300px;display: inline-block;"></div>

    <script type="text/javascript">

		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
                axisY: {
                    title: "Amount",
                    interlacedColor: "#F8F1E4",
                    tickLength: 10
				},
				axisX: {
					title: "Type of Task"
                },
				theme: "light2",
				animationEnabled: true,
				title: {
					text: "Amount of tasks"
				},
				subtitles: [
					{ text: "" }
				],
				data: [
				{
					type: "column", //change type to bar, line, area, pie, etc
					dataPoints: [
						{ y: @ViewBag.DataPoints.Length, label: "Total tasks remaining" },
						{ y: @ViewBag.HighPri.Length, label: "High priority tasks remaining" },
						{ y: @ViewBag.LowPri.Length, label: "Low priority tasks remaining"}

					]


				}
				]
			});



            var chart2 = new CanvasJS.Chart("chartContainer2", {
                axisY: {
                    title: "Tasks added by day",
                    interlacedColor: "#F8F1E4",
                    tickLength: 10
				},
				axisX: {
					title: "Day"
                },
				theme: "light2",
				animationEnabled: true,
				title: {
					text: "Tasks Added By Day"
				},
				subtitles: [
					{ text: "" }
				],
				data: [
				{
					type: "column", //change type to bar, line, area, pie, etc
					dataPoints: [
						{ y: @ViewBag.Friday.Count, label: "Friday" },
						{ y: @ViewBag.Saturday.Count, label: "Saturday" }


					]


				}
				]
			});


			var chart3 = new CanvasJS.Chart("chartContainer3", {
                axisY: {
                    title: "Tasks completed by day",
                    interlacedColor: "#F8F1E4",
                    tickLength: 10
				},
				axisX: {
					title: "Day"
                },
				theme: "light2",
				animationEnabled: true,
				title: {
					text: "Tasks Completed By Day"
				},
				subtitles: [
					{ text: "" }
				],
				data: [
				{
					type: "column", //change type to bar, line, area, pie, etc
					dataPoints: [
						{ y: @ViewBag.completedByDay["friday"], label: "Friday" }
						


					]


				}
				]
			});


            chart.render();
			chart2.render();
            chart3.render();



		};
    </script>




</body>
</html>			