@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<toDo>

<div class="box">
    <h3>High Priority Tasks</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Notes</th>
                <th scope="col">Date Added</th>
                <th scope="col">Completed?</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                if (i.Priority == 0)
                {
                    <tr>
                        <td><a asp-controller="User" asp-action="Edit" asp-route-id="@i.Id">@i.Id</a></td>
                        <td>@i.Description</td>
                        <td>@i.Notes</td>
                        <td>@i.DateCreated</td>
                        <td><a asp-controller="User" asp-action="Remove" asp-route-id="@i.Id" id="button">Completed</a></td>

                    </tr>

                }

            }



        </tbody>



    </table>










</div>

<br />


<div class="box">
    <h3>Low Pirority Tasks</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Description</th>
                <th scope="col">Notes</th>
                <th scope="col">Date Added</th>
                <th scope="col">Completed?</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                if (i.Priority != 0)
                {
                    <tr>
                        <td><a asp-controller="User" asp-action="Edit" asp-route-id="@i.Id">@i.Id</a></td>
                        <td>@i.Description</td>
                        <td>@i.Notes</td>
                        <td>@i.DateCreated</td>
                        <td><a asp-controller="User" asp-action="Remove" asp-route-Id="@i.Id" id="button">Completed</a></td>

                    </tr>

                }

            }



        </tbody>



    </table>








</div>

